qulacs
IBMQuantumExperience
matplotlib
numpydoc
qiskit[visualization, machine-learning, optimization, finance, nature]
qiskit-machine-learning[torch]
cplex
networkx
Typing
pennylane
pennylane-qchem
jax[cpu]
pennylane-qiskit
pennylane-qulacs[cpu]
pylatex
pylatexenc
shutup
SciencePlots
cirq
pennylane-cirq
pyscf
openfermion
openfermionpyscf
fqe
jupyterlab
ipykernel
noisyopt
projectq
pennylane_pq
pipreqs