lambeq[extras]
discopy
pytket
pytket-qiskit
qulacs-gpu
IBMQuantumExperience
matplotlib
numpydoc
qiskit
qiskit-aer-gpu
qiskit-aqua
qiskit-ibmq-provider
qiskit-ignis
qiskit-optimization
cplex
networkx
qiskit-terra
scipy
Typing
pennylane
pennylane-qchem
pennylane-qiskit
pennylane-qulacs[gpu]
pylatex
pylatexenc
shutup
SciencePlots
cirq
pennylane-cirq
pyscf
openfermion
openfermionpyscf
fqe
jupyterlab
ipykernel
noisyopt
depccg
spacy
nltk