lambeq[extras]
discopy
pytket
pytket-qiskit
qulacs
IBMQuantumExperience
matplotlib
numpydoc
qiskit
qiskit-aer
qiskit-aqua
qiskit-ibmq-provider
qiskit-ignis
qiskit-optimization
cplex
networkx
qiskit-terra
scipy
Typing
pennylane
pennylane-qchem
jax[cpu]
pennylane-qiskit
pennylane-qulacs[cpu]
pylatex
pylatexenc
shutup
SciencePlots
cirq
pennylane-cirq
qiskit[nature]
qiskit[machine-learning]
qiskit-machine-learning[torch]
pyscf
openfermion
openfermionpyscf
fqe
jupyterlab
ipykernel
noisyopt
depccg
spacy
nltk