lambeq[extras]
discopy
pytket
pytket-qiskit
qulacs-gpu
IBMQuantumExperience
matplotlib
numpydoc
qiskit
qiskit-aer-gpu
qiskit-aqua
qiskit-ibmq-provider
qiskit-ignis
qiskit-optimization
cplex
networkx
qiskit-terra
scipy
Typing
pennylane
pennylane-qiskit
pennylane-qulacs[gpu]
pylatex
pylatexenc
shutup
SciencePlots
cirq
pennylane-cirq
jupyterlab
ipykernel
noisyopt
depccg
spacy
nltk
qiskit[nature]
qiskit[machine-learning]
qiskit-machine-learning[torch]
pyscf
openfermion
openfermionpyscf
fqe
projectq
pennylane_pq