matplotlib
numpydoc
qiskit[visualization, machine-learning, optimization, finance, nature]
cplex
networkx
qiskit-terra
scipy
Typing
pennylane
jax[cpu]
pennylane-qiskit
pennylane-qchem
pylatex
pylatexenc
shutup
SciencePlots
pyscf
scikit-learn
jupyterlab
ipykernel
noisyopt