matplotlib
numpydoc
qiskit[visualization, machine-learning, optimization, finance, nature]
cplex
networkx
scipy
Typing
pennylane
jax[cpu]
pennylane-qiskit
pylatex
pylatexenc
shutup
SciencePlots
pyscf
scikit-learn
jupyterlab
ipykernel
noisyopt